<!-- component -->
<div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat" style="background-image:url('assets/top.jpg')">
  <%= turbo_frame_tag "user_form" %>
</div>