<header class="bg-blue-600">
  <div class="mx-auto flex h-20 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
    <%= link_to posts_path, class: 'block text-black' do %>
      <%= image_tag 'crazy_man.png', style: 'width: 150px; height: 133px;' %>
    <% end %>

    <div class="flex flex-1 items-center justify-end">
      <div class="flex items-end gap-4">
        <div class="sm:flex sm:gap-4">
          <%= link_to (t 'defaults.login'), login_path, class:'block rounded-md bg-black px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700' %>

          <%= link_to (t 'defaults.signup'), new_user_path, class:'block rounded-md bg-black px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700' %>
        </div>
      </div>
    </div>
  </div>
</header>