<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <%= link_to root_path, class: "d-flex align-items-center my-2 my-lg-0 me-3 text-white text-decoration-none" do %>
          <%= image_tag 'top.jpg', alt: 'Bootstrap', width: 130, height: 55 %>
        <% end %>
        <%= link_to '#', class: "d-flex align-items-center my-2 my-lg-0 me-3 text-white text-decoration-none" do %>
          <%= image_tag 'top.jpg', alt: 'Bootstrap', width: 70, height: 55 %>
        <% end %>
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2">Login</button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
      </div>
    </div>
  </div>
</header>
