<div class="container-fluid bg-dark">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
    <p class="col-md-4 mb-0 text-white">© 2023 CRAZY MAN</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32" style="fill: white;"><use xlink:href="/icons/bootstrap-icons.svg#speedometer2"></use></svg>
    </a>

    <nav class="col-md-4 d-flex justify-content-end">
      <ul class="nav">
        <%= link_to '#', class: "nav-item nav-link px-2 text-white" do %>
          利用規約
        <% end %>
        <%= link_to '#', class: "nav-item nav-link px-2 text-white" do %>
          プライバシーポリシー
        <% end %>
        <%= link_to '#', class: "nav-item nav-link px-2 text-white" do %>
          お問い合わせ
        <% end %>
      </ul>
    </nav>
  </footer>
</div>