<footer class="bg-blue-600 shadow">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col sm:flex-row sm:items-center sm:justify-between">
    <span class="text-lg text-black mb-3 sm:mb-0 md:flex md:items-center md:justify-between flex items-center justify-center">© 2024 CRAZY MAN</span>
    <ul class="flex flex-col sm:flex-row flex-wrap items-center text-ml md:text-lg font-medium text-black">
      <li>
        <%= link_to t('defaults.terms_of_service'), terms_of_service_path, class: 'text-gray-300 hover:text-yellow-400 mb-2 sm:mb-0 me-4 md:me-6' %>
      </li>
      <li>
        <%= link_to t('defaults.privacy_policy'), privacy_policy_path, class: 'text-gray-300 hover:text-yellow-400 mb-2 sm:mb-0 me-4 md:me-6' %>
      </li>
      <li>
        <%= link_to t('defaults.inquiry'), 'https://docs.google.com/forms/d/e/1FAIpQLSc_mvgTgd0pRUfX0sO5TjrnUxZAtf-M9j6MdoeQ8g4chVuRjA/viewform?usp=send_form', class: 'text-gray-300 hover:text-yellow-400 mb-2 sm:mb-0 me-4 md:me-6' %>
      </li>
    </ul>
  </div>
</footer>

