<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'top.jpg', alt: 'Bootstrap', width: 130, height: 40 %>
    <% end %>
    </div>
  </nav>
</header>
