<% if post.challenge_result == 'complete' %>
  <span class="bg-yellow-100 text-yellow-800 text-ml font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">COMPLETE</span>
<% else %>
  <span class="bg-purple-100 text-purple-800 text-ml font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">GIVE UP</span>
<% end %>